﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<div id="vivtestdiv">
<table id='vivtesttable' class='sortable'>
<% Response.Write(ViewData["tablecontent"].ToString()); %>
</table>
<%: Html.ActionLink("Download XML", "SegStatsDownload", new {CorpusName = ViewData["corpusname"], baseTextSegmentID = ViewData["segid"]})  %>
</div>

<script type="text/javascript"  >
    //alert('aha');

    $(function () {

        //alert('aha2');
        sorttable.forceinit($('#vivtesttable')[0]);
        //sorttable.forceinit($('#vivtesttable2')[0]);
        //alert('aha3');

    });


</script>
